<h1>Here is your todo list:</h1>

<ul>
  <% @tasks.each do |task| %>
    <li><%= task.completed ? "âœ…" : "âŽ" %> <%= link_to task.title, task_path(task) %>
    <%= link_to "ðŸ—‘",
              task_path(task),
              method: :delete,
              data: { confirm: "Are you sure?" } %>
    </li>
  <% end %>
</ul>

<%= link_to "Create a new task", tasks_new_path %>
